h1{
	color: white;
}
body {
	background: #368270; 
	text-align: center; 
	color:#02261d;
}
p a {
	color:blue;
}
p {
	font-family: Courier;
	text-align: left; 
	color: black;
}
a {
	color:red;
	text-decoration: none;
}
.negrito{
	font-weight: bold;
	text-decoration: underline;
}
p.negrito{

}
#destaque{
	text-decoration: none;
}
#imagem{
	display: block;
}
.container{
	background: yellow;
	display: flex;
}
.coluna{
	background: pink;
	margin:20px;
	padding:10px;
}
#coluna1{
	width:;
}
#coluna2{
	width:;
}